.svg-nuts0-borders {
  fill: none;
  stroke: #000;
  stroke-width: 1.4px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.svg-nuts2-borders {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.svg-region-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.region-active {
  stroke: #000;
  stroke-width: 1.2px;
}

.baseline-value {
  background-color: #E6E6FA;
  text-align: center;
}

.projection-composition-borders {
  fill : none;
  stroke : #000;
  stroke-dasharray: 3 3;
}

.legend text {
  font-family : sans-serif;
  font-size : 12px;
  fill : black;
  text-anchor : middle;
}
